{% extends 'base.html' %}{% block body_block %}

<div class="">
  <div class="">
    {% comment %}
    <h1 class="">{{ title }}</h1>
    {% endcomment %}
    <h4 class="text-primary fw-bold">Deposit Here</h4>
    <form method="post" class="">
      {% csrf_token %}

      <div class="mb-4">
        <br />
        <input
          class="border border-3 border-info p-1"
          name="amount"
          id="amount"
          type="number"
          required
          placeholder="amount"
        />
      </div>
      {% if form.amount.errors %} {% for error in form.amount.errors %}
      <p class="">{{ error }}</p>
      {% endfor %} {% endif %}
      <div class="">
        <button class="btn btn-info" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
